
<div class="user-show">

  <div class="container-fluid">
    <% if @user %>
      <h2>Welcome, <%= @user.username %></h2>
      <h3><%= "#{@user.username}'s Games" %></h3>
        <%= render partial: 'new_game_form' %>
    <% else %>
    <div class="row">
      <div class="homepage-options">
        <div class="col-md-6" id="github-login">

          <%= link_to "Sign in with Github", github_login_path, style: "color: black", class: "css_class"%>
        </div>
        <div class="col-md-6" id="guest-login">
            <p> Want to play as a Guest?</p>
          <%= link_to "Browse All Games", games_path, style: "color: black", class: "css_class"%>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
