<% if @user %>
  <div class="user-show" id="welcome">
    <h2>Welcome, <%= @user.username %></h2>
    <h3> My Games </h3>
    <% if @user.game.id == 1 %>
    <p>You have no games</p>
      <%= render partial: 'new_game_form' %>
    <% else %>
      <ul>
        <li><%= link_to @user.game.name, game_path(@user.game.slug) %></li>
      </ul>
    <% end %></br>
  </div>
<% else %>
  <div id="guest-login">
    <p> The Turing Arcade was created as a portal for games created by <%= link_to 'Turing', 'https://www.turing.io/', target: 'blank' %> Students.</br></br>
      To see the work our students have done:</br></br>
    <%= link_to "Browse All Games", games_path, style: "color: black", class: "browse_css_class"%></br></br>
    To add your own game, you must sign in through <%= link_to "github", github_login_path %>.</p>
  </div>
<% end %>
